@charset "UTF-8";



/* *********************************
General
********************************* */
* {
	outline: none;
}

hr {
	border-color: rgba(225,225,225,0.2);
}

.wrap {
	width: 90%;
	max-width: 1100px; 
	margin: 0 auto;
}
.off-canvas-wrapper{
	background-color: #222;
}
.btn:focus {
  outline: none;
}


/* *********************************
Navigation - mobile
********************************* */
.title-bar {
	background-color: #222;
	height: 60px;
	padding-top: 5px; 
}

#mobile-menu {
	background-color: #222;
	/*padding: 5px;*/
}

#mobile-menu li{
	list-style: none;
}

#mobile-menu a {
	color:  rgba(225,225,225,1);
	font-weight: bold;
	line-height: 2;
}

#mobile-menu a:hover {
	color:  rgba(225,225,225,0.8);
}


/* *********************************
Navigation - desktop
********************************* */
.nav-desktop {
background-color: #222;
height: 60px;
padding: 0;
}

.site-logo {
	color: white;
	line-height: 60px;
}

.nav-desktop .menu-desktop{
	line-height: 60px;
	background-color: transparent;
}

.menu-desktop > li > a {
	background-color: transparent;
	display: inline-block;
	line-height: 60px;
	padding-top: 0;
	padding-bottom: 0;
	color: white;
}

.menu > li > a:hover {
	background-color: rgba(255,255,255, 0.1);

}


/* *********************************
Navigation - Playroom menu
********************************* */

.nav-playroom {
background-color:  rgba(0,0,0, 0.05);
height: 60px;
padding: 0;
}

.nav-playroom .menu-playroom{
	line-height: 60px;
	background-color: transparent;
}

.menu-playroom > li > a {
	background-color: transparent;
	display: inline-block;
	line-height: 60px;
	padding-top: 0;
	padding-bottom: 0;
	color:  rgba(0,0,0, 0.7);
}

.menu-playroom > li > a:hover {
	background-color: rgba(0,0,0, 0.1);

}


/* *********************************
Hero Section
********************************* */
.hero {
	/*background-color: #999;*/
	padding: 80px 0px;
	/*height: 400px;*/
	/*background-image: url("../img/pattern.png");*/

}
.hero h1,
.hero p,
.main h4 {
	color: #444;
	width:80%;
}
.hero img {
	width: 100%;
	max-width: 424px;
	/*position: relative;*/
}


/* *********************************
Main Section
********************************* */
/*.main {
	padding: 80px 0px;

}*/
.main img {
	width: 100%;
	min-height: 0;
}
.main h1,
.main p,
.main h4
 {
	color: #444;
	width:80%;
}
.main img {
	width: 100%;
	max-width: 424px;
	/*position: relative;*/
}



/* *********************************
Footer Section
********************************* */

footer {
	background-color: rgba(0,0,0,0.05); 
	padding: 30px 0px;
}

footer h4{
	color: rgba(0,0,0,0.7);
	font-size: 1.2em;
}

footer hr{
	border-color: rgba(0,0,0,0.2);
	margin: 10px 0;
}

footer a {
	display: block;
	color: rgba(0,0,0,0.7);
	font-size: 0.8em;
}

footer a span {
	font-weight: bold;
	color: rgba(0,0,0,0.5);
}


footer a:hover {
	display: block;
	color: rgba(0,0,0,0.9);
}
/* *********************************
Media Query
********************************* */

@media (max-width: 639px) {
	.nav-desktop {
		display: none;
	}
}

@media (max-width: 857px) {
	.hero h1,
	.hero p{
		width: 100%;
	}	
}
@media (max-width: 639px) {
	.nav-playroom {
		display: none;
	}
}

